@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors;
  overscroll-behavior: contain;
}

body, #app {
  height: 100vh;
  height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.tile {
  @apply transition-all z-20 absolute top-0 left-0 w-[4.4rem] h-[4.4rem] sm:w-24 sm:h-24 flex items-center justify-center text-[#776e65] duration-100 rounded-md;

  & .inner-tile {
    @apply w-[4.4rem] h-[4.4rem] sm:w-24 sm:h-24 flex items-center justify-center text-xl sm:text-3xl font-bold rounded-md;
  }

  @for $x from 0 through 3 {
    @for $y from 0 through 3 {
      &.tile-pos-#{$x}-#{$y} {
        transform: translate($x * 7rem + 0.5rem, $y * 7rem + 0.5rem) scale(1);

        @media screen and (max-width: 640px) {
          transform: translate($x * 4.5rem + 0.5rem * $x + 0.25rem, $y * 4.5rem + 0.5rem * $y + 0.25rem) scale(1);
        }

        &.new-tile > .inner-tile {
          transform: scale(0);
          animation: new-tile-appear 0.4s ease-in-out forwards;
        }

        &.generated-tile > .inner-tile {
          transform: scale(0);
          animation: new-tile-appear 0.2s 0.15s ease-in-out forwards;
        }

        &.tile-remove {
          @apply z-0;
        }
      }
    }
  }
}

@keyframes new-tile-appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.selected {
  @apply outline outline-2 m-1 outline-offset-2
}